@use './variables';

.dashboard {
  background-color: variables.$primary-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.monitorsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: relative;
  .actionButtonContainer {
    position: absolute;
    right: 2rem;
    bottom: 0;
    .actionButton {
      background-color: variables.$highlight-color-two;
    }
  }
}

// header
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: variables.$form-border-width solid variables.$form-border-color;
  background-color: variables.$primary-color;
  > * {
    margin: 0 1.5rem;
  }
  .button {
    background-color: variables.$highlight-color-two;
  }
}

// search
.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  .input {
    width: 90%;
  }
}

// transactions, expiring
.transactionsContainer, .expiringContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  .cardContainer {
    width: 100%;
  }
}
