@use './variables';

.dashboard {
  background-color: variables.$primary-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inventoryContainer {
  width: 100%;
  min-width: 20rem;

  @media (min-width: 37.5rem) {
    min-width: 30rem;
  }

  @media (min-width: 60rem) {
    min-width: 37.5rem;
  }
}

.monitorsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .monitorSubContainer {
    width: 84%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    > * {
      width: 50%;
    }
  }
  .actionButtonContainer {
    position: absolute;
    right: 3.75%;
    bottom: 5%;
    .actionButton {
      background-color: variables.$highlight-color-two;
    }
  }
  @media (min-width: 37.5rem) {
    min-width: 30rem;
  }

  @media (min-width: 60rem) {
    min-width: 37.5rem;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
    .monitorSubContainer {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      > * {
        width: 80%;
      }
    }
  }
}

// header
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 0.75rem;
  border-bottom: variables.$form-border-width solid variables.$form-border-color;
  background-color: #F7F3EE;
  > * {
    margin: 0 8%;
    display: flex;
    justify-content: center;
    height: 80%;
  }
  > :first-child {
    align-items: flex-end;
    > :nth-child(2) {
      padding-bottom: 0.3rem;
    }
  }
  > :last-child {
    align-items: flex-end;
    > :first-child {
      padding-bottom: 0.4rem;
    }
    > :nth-child(2) {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0.8rem;
    }
    > :last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 0.3rem;
    }
  }
  .button {
    background-color: variables.$highlight-color-two;
  }
  .static-logo-container {
    position: relative;
    .db-logo {
      width: 4rem;
      height: 4rem;
    }
    .left-logo {
      font-size: 2rem;
      position: absolute;
      left: -2.5rem;
      top: 1.8rem;
    }
    .right-logo {
      font-size: 2rem;
      position: absolute;
      right: -2.5rem;
      top: 1.8rem;
    }
  }
}

// search
.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 11rem;
  box-sizing: border-box;
  gap: 0.75rem;
  .input {
    width: 100%;
  }
}

// transactions, expiring
.transactionsContainer,
.expiringContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  .cardContainer {
    width: 100%;
  }
}
