@use './variables';

.dashboard {
  background-color: variables.$primary-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
}

.inventoryContainer {
  width: 100%;
  min-width: 20rem;
  
  @media (min-width: 37.5rem) {
    min-width: 30rem;
  }
  
  @media (min-width: 60rem) {
    min-width: 37.5rem;
  }
}

.monitorsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  .actionButtonContainer {
    position: absolute;
    right: 5%;
    bottom: 5%;
    .actionButton {
      background-color: variables.$highlight-color-two;
    }
  }
}

// header
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: variables.$form-border-width solid variables.$form-border-color;
  background-color: variables.$primary-color;
  > * {
    margin: 0 6rem;
  }
  .button {
    background-color: variables.$highlight-color-two;
  }
  .static-logo-container {
    position: relative;
    .db-logo {
      width: 4rem;
      height: 4rem;
    }
    .left-logo {
      font-size: 2rem;
      position: absolute;
      left: -2.5rem;
      top: 1.8rem;
    }
    .right-logo {
      font-size: 2rem;
      position: absolute;
      right: -2.5rem;
      top: 1.8rem;
    }
  }
}

// search
.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  .input {
    width: 90%;
  }
}

// transactions, expiring
.transactionsContainer, .expiringContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  .cardContainer {
    width: 100%;
  }
}
