@use './variables';

.dashboard {
  background-color: variables.$primary-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monitorsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: relative;
  .actionButtonContainer {
    position: absolute;
    right: 4.5%;
    bottom: 3%;
    .actionButton {
      background-color: variables.$highlight-color-two;
    }
  }
}

// header
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
  border: variables.$form-border-width solid variables.$form-border-color;
  > * {
    margin: 0 6rem;
  }
  .button {
    background-color: variables.$highlight-color-two;
  }
  .static-logo-container {
    position: relative;
    .db-logo {
      width: 4rem;
      height: 4rem;
    }
    .left-logo {
      font-size: 2rem;
      position: absolute;
      left: -2.5rem;
      top: 1.8rem;
    }
    .right-logo {
      font-size: 2rem;
      position: absolute;
      right: -2.5rem;
      top: 1.8rem;
    }
  }
}

// search
.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  .input {
    width: 90%;
  }
}

// inventory
.inventoryContainer {
  padding: 1rem;
  overflow-y: scroll;
  background-color: variables.$secondary-color;
}

// transactions, expiring
.transactionsContainer, .expiringContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  .cardContainer {
    width: 100%;
  }
}


