@use './variables';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  .login-container {
    background-color: variables.$primary-color;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: variables.$form-border-width solid variables.$form-border-color;
    border-radius: variables.$form-border-radius;
    box-shadow: variables.$box-shadow;
    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-style: italic;
      position: relative;
      .left-logo {
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        left: -6rem;
        top: 5rem;
      }
      .right-logo {
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        left: 7.5rem;
        top: 5rem;
      }
    }
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1rem;
      .input {
        width: 100%;
      }
    }
    .button {
      background-color: variables.$highlight-color-two;
    }
  }
}

@media (max-width: 768px) {
  .login .login-container {
    height: 80%;
  }
}
