@use './variables';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .login-container {
    background-color: variables.$primary-color;
    height: 60%;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: variables.$form-border-width solid variables.$form-border-color;
    border-radius: variables.$form-border-radius;
    overflow: hidden;
    box-shadow: variables.$box-shadow;
    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-style: italic;
      position: relative;
      .left-logo {
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        left: -6rem;
        top: 5rem;
      }
      .right-logo {
        font-size: 4rem;
        font-weight: 700;
        position  : absolute;
        left: 7.5rem;
        top: 5rem;
      }
    }
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .input {
        width: 100%;
        margin: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .login .login-container {
    height: 80%;
  }
}