@use './variables';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .login-container {
    background-color: variables.$primary-color;
    height: 60%;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .input {
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      // border: 1px solid black;
      border-radius: 5px;
    }
  }
}
