@use './variables';

.register {
  background-color: variables.$primary-color;
  height: variables.$tempheight;
  width: variables.$tempwidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}