@use './variables';

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .register-container {
    background-color: variables.$primary-color;
    height: variables.$login-register-full-height;
    width: variables.$login-register-full-width;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: variables.$form-border-width solid variables.$form-border-color;
    border-radius: variables.$form-border-radius;
    overflow: hidden;
    box-shadow: variables.$box-shadow;
    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-style: italic;
      position: relative;
      .left-logo {
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        // left: -6rem;
        // top: 5rem;
        left: -5rem;
        top: 4.5rem;
      }
      .right-logo {
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        // left: 7.5rem;
        // top: 5rem;
        left: 6.5rem;
        top: 4.5rem;
      }
    }
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .input {
        width: 100%;
        margin: 0.5rem 0;
      }
    }
    .button {
      background-color: variables.$highlight-color-two;
    }
  }
}

@media (max-width: 1024px) {
  .register .register-container {
    width: variables.$login-register-lg-width;
    height: variables.$login-register-lg-height;
  }
}
@media (max-width: 768px) {
  .register .register-container {
    width: variables.$login-register-md-width;
    height: variables.$login-register-md-height;
  }
}
@media (max-width: 640px) {
  .register .register-container {
    width: variables.$login-register-sm-width;
    height: variables.$login-register-sm-height;
    border: none;
  }
  .register .register-container .input-container {
    width: 90%;
  }
}
