@use './variables';

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  .register-container {
    background-color: variables.$primary-color;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: variables.$form-border-width solid variables.$form-border-color;
    border-radius: variables.$form-border-radius;
    box-shadow: variables.$box-shadow;
    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-style: italic;
    }
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1rem;
      .input {
        width: 100%;
      }
    }
    .button {
      background-color: variables.$highlight-color-two;
    }
  }
}

@media (max-width: 768px) {
  .register .register-container {
    height: 80%;
  }
}

