@use './variables';

.modalContainer {
  > * {
    box-sizing: content-box;
  }
  .box, .alt-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: variables.$form-border-width solid green;
    border-radius: 12px;
    background-color: variables.$primary-color;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .button {
    display: block;
    margin: 0 auto 2rem auto;
    background-color: variables.$highlight-color-two;
  }
}
.box {
  justify-content: space-between;
}
.alt-box {
  justify-content: flex-start;
}
.shopping-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-height: 88%;
  overflow-y: scroll;
}
.shopping-list-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: variables.$form-border-width solid orange;
}
.shopping-list-pre-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: variables.$form-border-width solid red;
  > * {
    margin: 1rem;
  }
}
.shopping-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: variables.$form-border-width solid variables.$form-border-color;
  > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
  }
}
