// Font
// Colors
$primary-color: #ffffff;
$primary-color-two: #947a7a;
$secondary-color: #1F1F1F;
$secondary-color-two: #3D3D3D;
$tertiary-color: #947a7a;
$tertiary-color-two: #3D3D3D;

// Dimensions
$tempheight: 5rem;
$tempwidth: 50%;

// Animations
$house-animation-duration: 2s;
$smoke-animation-duration: 3s;
