@use './partials/variables';
@use './partials/dashboard';
@use './partials/login';
@use './partials/register';
@use './partials/loading';
@use './partials/shoppinglist';
body {
  overflow-x: hidden;
  font-family: variables.$font-family;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: variables.$secondary-color;
}

// MUI overrides
// input labels
.MuiInputLabel-root.Mui-focused {
  color: variables.$text-primary-color !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: variables.$form-border-color !important;
}
// calendar date picker
.MuiPickersOutlinedInput-notchedOutline {
  border-color: variables.$form-border-color !important;
}
// checkbox
.MuiCheckbox-root.Mui-checked {
  color: variables.$highlight-color-two !important;
}

// .MuiCardContent-root:last-child {
//   overflow: hidden;
// }

// number input
input[inputmode="numeric"] {
  background-color: variables.$primary-color;
  border: 1px solid variables.$form-border-color;
  border-radius: 2px;
  margin-left: .25rem;
}

// .MuiTableCell-root{
//   border-right: 1px solid variables.$form-border-color;
// }

.muiicon {
  cursor: pointer;
  &:hover {
    background-color: rgb(220, 220, 220);
    border-radius: 60%;
    box-shadow: 0 0 10px 2px rgb(194, 194, 194);
  }
}
.muiicon-noshadow {
  cursor: pointer;
  &:hover {
    background-color: transparent;
    border-radius: 60%;
    box-shadow: none;
  }
}

.tempnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(192, 188, 188);
}

.tempnav-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: rgb(222, 189, 189);
  border-radius: 5px;
  padding: 0.5rem;
}
