@use './partials/variables';
@use './partials/dashboard';
@use './partials/login';
@use './partials/register';
@use './partials/loading';

body {
  overflow-x: hidden;
  font-family: variables.$font-family;
}

.tempnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(192, 188, 188);
}

.tempnav-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: rgb(222, 189, 189);
  border-radius: 5px;
  padding: 0.5rem;
}
